<div class="container">
    <div class="left-side">
      <!-- 3D Model Container -->
      <div #rendererContainer class="model-container"></div>
    </div>
    <!-- <div class="right-side">
      
      <h1>About Us</h1>
      <p>Here is some content about us. This section will explain more about our company, mission, and values.</p>
    </div>
  </div> -->

  <div class="right-side">
  
    <h1>About Us</h1>
    <p>
      Royal Enfield is renowned for its legacy of crafting motorcycles that combine classic design with modern technology. Our mission is to deliver exceptional riding experiences while honoring our rich heritage. We are committed to innovation and quality, ensuring that each motorcycle continues to stand out in the industry.
    </p>
    <div class="typewriter">
      <h1>ROYAL <span class="dynamic">ENFIELD</span></h1>
    </div>
  </div>
  
  