<nav class="navbar">
    <div class="navbar-brand">
        <img src="assets/images/logo.svg" alt="myo" class="logo">
    </div>
    <ul class="navbar-nav">
        <!-- Show Login and Signup links only if neither user nor admin is logged in -->
        <li class="nav-item" *ngIf="!authService.isLoggedIn() && !authService.isAdminLoggedIn()">
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn() && !authService.isAdminLoggedIn()">
            <a routerLink="/signup" routerLinkActive="active">Signup</a>
        </li>

        <!-- Show Home, Products, About Us, and Logout links if a regular user is logged in -->
        <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdminLoggedIn()">
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdminLoggedIn()">
            <a routerLink="/products" routerLinkActive="active">Products</a>
        </li>
         <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdminLoggedIn()">
            <a routerLink="/our-services" routerLinkActive="active">SERVICE</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdminLoggedIn()">
            <a routerLink="/aboutus" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdminLoggedIn()">
            <a routerLink="/cart" routerLinkActive="active">Cart</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdminLoggedIn()">
            <a routerLink="/checkout" routerLinkActive="active">Checkout</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdminLoggedIn()">
            <a routerLink="/myorders" routerLinkActive="active">My-Orders</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn() && !authService.isAdminLoggedIn()">
            <a (click)="onLogout()" style="cursor: pointer;">Logout</a>
        </li>
    </ul>

    <!-- Show Admin-specific links if an admin is logged in -->
    <ul class="navbar-nav" *ngIf="authService.isAdminLoggedIn() ">
        <li class="nav-item">
            <a routerLink="/admin/products" routerLinkActive="active">Admin Products</a>
        </li>
        <li class="nav-item">
            <a routerLink="/admin/users" routerLinkActive="active">Admin Users</a>
        </li>
        <li class="nav-item">
            <a routerLink="/admin/chart" routerLinkActive="active">Admin Chart</a>
        </li>
        <li class="nav-item">
            <a (click)="adminLogout()" style="cursor: pointer;">Admin Logout</a>
        </li>
    </ul>
    <!-- <p-tieredMenu [model]="userItems" *ngIf="authService.isAdminLoggedIn()">
        <ng-template pTemplate="item" let-item let-hasSubmenu="hasSubmenu">
          <a pRipple class="flex align-items-center p-menuitem-link">
            <span [class]="item.icon" class="p-menuitem-icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge"></p-badge>
            <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">
              {{ item.shortcut }}
            </span>
            <i *ngIf="hasSubmenu" class="pi pi-angle-right ml-auto text-primary"></i>
          </a>
        </ng-template>
      </p-tieredMenu> -->
</nav>
