

<div id="journeyDiv">
    <video width="320" height="240" autoplay muted loop="true">
        <source src="https://www.royalenfield.com/content/dam/royal-enfield/india/flash-sale-2021/landing/desktop/120years_twins.mp4" type="video/mp4">
        Your browser does not support the video tag
    </video>
    <div id="pauseBtn">
        <div id="pause">
            <svg class="bigbuttons" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-pause-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5z"/>
              </svg>
            <svg class="smallbuttons" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pause-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5z"/>
            </svg>
        </div>
        <div id="play">
            <svg class="bigbuttons" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
              </svg>

              <svg  class="smallbuttons" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
              </svg>
        </div>
    </div>
    <a href="#tributeDiv" id="downArrow">
        <svg class="bigbuttons" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          </svg>

          <svg class="smallbuttons" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          </svg>
    </a>
</div>

<!-- TRIBUTE DIV -->

<div id="tributeDiv">
    <div id="knowMore">
        <a href="">
            Know More &nbsp; >
        </a>
    </div>
</div>


<!-- IMAGE CAROUSEL DIV -->

<div id="bikeCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    
    
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="slide slide1">
                <a href="">KNOW MORE &nbsp; > </a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide2">
                <a href="">KNOW MORE &nbsp; ></a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide3">
                <a href="">KNOW MORE &nbsp; ></a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide4">
                <a href="">KNOW MORE &nbsp; ></a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide5">
                <a href="">SHOP NOW &nbsp; ></a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide6">
                <h2>Ride Pure - The Royal Enfield Podcast</h2>
                <p>Riding through terrains and carrying stories you love to share.</p>
                <a href="">TUNE IN &nbsp; ></a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide7">
                <a href="">EXPLORE &nbsp; ></a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide8">
                <a href="">EXPLORE &nbsp; ></a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide9">
                <a href="">EXPLORE &nbsp; ></a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide10">
                <a href="">EXPLORE &nbsp; ></a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide slide11">
                <img src="https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/himalayan/logos/himalayan.svg" alt="Royal Enfield Himalayan">
                <!-- <p>Built for all roads, Built for no roads</p> -->
                <a href="">EXPLORE &nbsp; ></a>
            </div>
        </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#bikeCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#bikeCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>


<!-- NEWS GRID AREA -->

<div id="newsGrid">
    <div class="newsItem">
        <img src="https://www.royalenfield.com/content/dam/royal-enfield/india/home/tout/90-south-home.jpg" alt="90° SOUTH - QUEST FOR THE POLE" class="newsImage">
        <h4 class="newsText">
            Royal Enfield successfully completes quest for the pole - an extraordinary endeavour in celebration of 120 years of pure motorcycling
        </h4>
    </div>
    <div class="newsItem">
        <img src="https://www.royalenfield.com/content/dam/royal-enfield/india/home/tout/auto-x.png" alt="AUTO X" class="newsImage">
        <h4 class="newsText">
            All New Classic 350 recognised  as the "Best of 2021" By AutoX
        </h4>
    </div>
    <div class="newsItem">
        <img src="https://www.royalenfield.com/content/dam/royal-enfield/india/home/tout/south-pole-home.jpg" alt="SOUTH POLE QUEST" class="newsImage">
        <h4 class="newsText">
            Royal Enfield to lead a first of its kind motorcycle expedition to the South Pole
        </h4>
    </div>
    <div class="newsItem">
        <img src="https://www.royalenfield.com/content/dam/royal-enfield/india/home/tout/all_new_classic_350_tout.jpg" alt="ALL NEW CLASSIC 350 TOUT" class="newsImage">
        <h4 class="newsText">
            The All-New Royal Enfield Classic 350 - Legend Reborn
        </h4>
    </div> 
</div>



<!-- MOTORCYCLES DIV -->

 <!-- MOTORCYCLES PART -->

 <nav id="motorcycles">
    <div class="logo">
        <img src="https://www.royalenfield.com/content/dam/royal-enfield/india/logos/logo.svg" alt="Royal Enfield Logo">
    </div>
    <div class="access">
       Motorcycles
    </div>
    <div class="access">
        <a href="">Classic </a>
    </div>
    <div class="access">
        <a  href="">&nbsp; | &nbsp; Interceptor &nbsp; |</a>
    </div>
    <div class="access">
        <a  href="">Continental GT &nbsp; |</a>
    </div>
    <div class="access">
        <a  href="">Meteor &nbsp; |</a>
    </div>
    <div class="access">
        <a  href="">Himalayan &nbsp; |</a>
    </div>
    <div class="access">
        <a  href="">Bullet</a>
    </div>
</nav>

<div id="motorcyclesDiv">
    <img class="bigscreen" src="https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/classic-350/motorcycle/classic-350-motorcycle-section.png" alt="Classic 350">
    <img class="smallscreen" src="https://www.royalenfield.com/content/dam/royal-enfield/india/motorcycles/classic-350/motorcycle/classic_350_motorcycle_section.png" alt="" >
    <a href="">EXPLORE &nbsp; ></a>
</div>


<!-- RIDES DIV -->

<nav id="rides">
    <div class="logo">
        <img src="https://www.royalenfield.com/content/dam/royal-enfield/india/logos/logo.svg" alt="Royal Enfield Logo">
    </div>
    <div class="access">
       Rides
    </div>
    <div class="access">
        <a href="">Rides</a>
    </div>
</nav>

<div id="ridesDiv">
    <img class="bigscreen" src="https://www.royalenfield.com/content/dam/royal-enfield/india/rides/marquee-rides/meteor-rides/south/banner/desktop/meteor-south-new.jpg" alt="Explore Meteor">
    <img class="smallscreen" src="https://www.royalenfield.com/content/dam/royal-enfield/india/rides/marquee-rides/meteor-rides/south/banner/mobile/meteor-explore.png" alt="">
    <a href="">EXPLORE &nbsp; ></a>
</div>


<!-- APPARELS DIV -->

<nav id="apparel">
    <div class="logo">
        <img src="https://www.royalenfield.com/content/dam/royal-enfield/india/logos/logo.svg" alt="Royal Enfield Logo">
    </div>
    <div class="access">
        Apparel
     </div>
     <div class="access">
         <a href="">Art Of Motorcycling Season 2  </a>
     </div>
     <div class="access">
         <a  href="">&nbsp; | &nbsp; New Year Beginning Sale &nbsp; |</a>
     </div>
     <div class="access">
         <a  href="">Royal Enfield X TCX &nbsp; |</a>
     </div>
     <div class="access">
         <a href="">MIY Riding Jacket</a>
     </div>
</nav>

<div id="apparelDiv">
    <img class="bigscreen" src="https://www.royalenfield.com/content/dam/royal-enfield/india/home/apparel/desktop/art-of-motorcycling.jpg" alt="Art of Motorcycling">
    <img src="https://www.royalenfield.com/content/dam/royal-enfield/india/home/apparel/mobile/art_of_motorcycling.jpeg" alt="" class="smallscreen">
    <a href="">EXPLORE &nbsp; ></a>
</div>





<!-- ACCESSORIES PART -->
<nav id="accessories">
    <div class="logo">
        <img src="https://www.royalenfield.com/content/dam/royal-enfield/india/logos/logo.svg" alt="Royal Enfield Logo">
    </div>
    <div class="access">
       Accessories
    </div>
    <div class="access">
        <a href="">Slip on Silencers  </a>
    </div>
    <div class="access">
        <a href="">&nbsp; | &nbsp; Genuine Motorcycles &nbsp; |</a>
    </div>
    <div class="access">
        <a href="">Make it Yours</a>
    </div>
</nav>

<div id="accessoriesDiv">
    <img class="bigscreen" src="https://www.royalenfield.com/content/dam/royal-enfield/india/accessories/banner/campaign/slip-on-silencer.jpg" alt="Slip on silencer">
    <img class="smallscreen" src="https://www.royalenfield.com/content/dam/royal-enfield/india/accessories/banner/campaign/slip_on_silencer.jpg" alt="">
    <a href="">KNOW MORE &nbsp; ></a>
</div>



<!-- LOCATE US DIV -->
<nav id="locateUsNav">
    <div class="logo">
        <img src="https://www.royalenfield.com/content/dam/royal-enfield/india/logos/logo.svg" alt="Royal Enfield Logo">
    </div>
    <div class="access">Locate Us</div>
    <div class="access">
        <a href="">Stores  </a>
    </div>
    <!-- <div class="locate">|</div> -->
    <div class="access">
        <a href="">&nbsp; | &nbsp; Service Centres &nbsp; |</a>
    </div>
    <!-- <div class="locate">|</div> -->
    <div class="access">
        <a href="">Genuine Parts Distributors</a>
    </div>
</nav>
<div id="storesDiv">
    <img class="bigscreen" src="https://www.royalenfield.com/content/dam/royal-enfield/india/home/locate-us/desktop/stores.jpg" alt="Royal-Enfield-Showroom-Delhi">
    <img src="https://www.royalenfield.com/content/dam/royal-enfield/india/home/locate-us/mobile/stores.jpg" alt="" class="smallscreen">
    <h3>This is One Near You</h3>
    <a href="">Find a Store &nbsp; > </a>
</div>


<!-- POPULAR TAGS DIV -->
<div id="popularMain">
    <div id="popularTagsHeading">
        <h4>Popular Tags</h4>
    </div>
    <div id="popularImgDiv">
        <div class="popimg popimg1">
            <a class="poptext">
                #TimelessClassic
            </a>
            <div class="instaHandle">
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="popimg popimg2">
            <a class="poptext">
                #RoyalEnfieldGoPro
            </a>
            <div class="instaHandle">
                <a href="">
                   <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="popimg popimg3">
            <a class="poptext">
                #Meteor
            </a>
            <div class="instaHandle">
                <a href="">
                    ]<i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="popimg popimg4">
            <a class="poptext">
                #LeaveEveryPlaceBetter
            </a>
            <div class="instaHandle">
                <a href="">
                     <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</div>




